body {
  margin: 0;
}

section {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
