.footer {
  height: 70px;
  background-color: var(--footer-bg-color);
  color: var(--white-primary);
  padding: 0 var(--horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 568px) {
    justify-content: center;
  }

  & .flex {
    padding-left: 1rem;
    gap: 10px;
  }

  a {
    color: var(--white-primary);
    text-decoration: none;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-color);
    }
  }
}
