.main-navigation {
  position: absolute;
  width: 100%;
  left: 0;
  height: var(--header-height);
  align-content: center;

  @media (max-width: 768px) {
    background-color: var(--site-header-bg);
  }

  & .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--horizontal-padding);

    & .logo {
      & img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .menu-icon-container {
      display: flex;
      align-items: center;

      @media (min-width: 769px) {
        display: none;
      }
    }

    .nav-menu-container {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }

      & .nav-menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
          list-style: none;
          margin-right: 2rem;

          & a {
            color: var(--white-primary);
            text-decoration: none;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}
